body{
  text-align: left;
  background-color: lightgreen;
}
.responsive{
  float: right;
  width: 30%;
  height: 30%;
  background-color: blue;
}
h1{
  color: blue;
  font-family: sans-serif;
  font-style: oblique;

}
h4.page{
  text-align: left;
  font-family: cursive;
}
li{
  font-family: monospace;
  font-style: oblique;
}
.ho{
  font-size-adjust: auto;
  color; blue;
}
.pages{

}
footer{
  text-align: center;
  column-rule-width: medium;
  color: purple;
}
h4{
  color: blue;
  padding-top: 20px;
}
.p{
  font-family: fantasy;
  font-style: normal;
  font-stretch: normal;
  font-size: 14px;
}
